#-----------------------------------------
# Development files
#-----------------------------------------
.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml


#-----------------------------------------
# Environment files
#-----------------------------------------
.venv
venv
.git
.envs/
.env


#-----------------------------------------
# Cache and temporary files
#-----------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.ruff_cache/
*.log
*.pot
*.sqlite3


#-----------------------------------------
# Build files
#-----------------------------------------
build/
dist/
*.egg-info/


#-----------------------------------------
# Documentation
#-----------------------------------------
docs/_build/


#-----------------------------------------
# Local development / Dependencies
#-----------------------------------------
.ipython/
frontend/node_modules
frontend/.next
backend/.venv


#-----------------------------------------
# OS-specific
#-----------------------------------------
.DS_Store
Thumbs.db
